 <VirtualHost *:80>
     ServerAdmin webmaster@localhost
     ServerName exemple.apmf.com
     DocumentRoot /var/www/fronten
     ErrorLog ${APACHE_LOG_DIR}/error.log
     CustomLog ${APACHE_LOG_DIR}/access.log combined
 </VirtualHost>
